* {
  padding: 0;
  box-sizing: border-box;
}

.clock-container {
  position: relative;
  height: 40vw;
  width: 40vw;
  background: url("/img/clock.png") no-repeat;
  background-size: 80%;
  margin: auto;
  margin-top: 5rem;
}

#hour,
#minute,
#second {
  position: absolute;
  background: black;
  border-radius: 1rem;
  transform-origin: bottom;
}

#hour {
  width: 1%;
  height: 20%;
  top: 20%;
  left: 39%;
}

#minute {
  width: 1%;
  height: 27%;
  top: 13%;
  left: 39%;
}

#second {
  width: 0.5%;
  height: 32%;
  top: 8%;
  left: 40%;
}
